
<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p><%= image_tag("/assets/#{@slide.title}")%></p>

<p>
  <strong>Likes:</strong>
  <%= @slide.likes %>
  <% if current_user.slides.find_by(id: @slide.id)
  	link= "unlike"
  	else
  		link="like"
  		end %>
<%=link_to link, pdf_file_slide_path, method: :put %>
</p>


